body {
  /* font-family: Open Sans; */
  /* font-style: normal; */
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align:center;
    background-color: #F15A29
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;

}
.sidenav a:hover{
    color: white;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
#logo {
  background-image: url("../images/landing.jpg");
  background-size: cover;
  color: white;
  padding-bottom: 70px;
}
#logo .sasa{
  text-align: center;
}
#partytime{
  background-color: rgb(241, 90, 41);
  padding:16px;
  text-align: center;
}
#happyhour{
  padding:16px;
  text-align: center;
}
#breakfast {
  background-image: url("../images/breakfast.jpg");
  background-size: auto;
  padding: 70px;
  color: white;
}
#lunch:hover,
#dinner:hover,
#breakfast:hover {
  opacity: .5;
}
#lunch {
  background-image: url("../images/lunch.jpg");
  background-size: auto;
  padding: 70px;
  color: white;
}
#dinner {
background-image: url("../images/dinner.jpg");
background-size: auto;
padding: 70px;
color: white;
}
.btn {
  color: rgb(241, 90, 41);
  border-radius: 0.5rem;
  border: 20px;
  background-color: ;
}
#foods {
  background-image: url("../images/foods.Bg.png")
  text-align: center;
  color: rgb(241, 90, 41);
}
#nav-fastfood-tab {
  color: rgb(241, 90, 41);
}
#nav-drinks-tab, #nav-chicken-tab, #nav-rice-tab {
  color: black;
}
.orange {
  color: rgb(241, 90, 41);
}
.well {
  text-align: center;
}
p {
  color: black;
}
.right {
  float: right;
}
.left {
  float: left;
}
#fastfood {
  text-align: left;
}
#drinks {
  text-align: right;
}
.meals {
  background-image: url("../images/foodsBg.jpg")
}
.active {
  color: rgb(241, 90, 41);
  background-color: white;
}
.subscribe {
  font-size:20px;
  color: white;
  text-align: center;
  background-image: url("../images/subscribe.jpg");
  background-repeat: no-repeat;
  padding-bottom: 0px;
}
.formStyle {
margin: 20px;
width: 40%;
margin-bottom: 20px;
font-size: 28px;
font-weight: 100;
color: #ffffff;
border-radius: 5px;
background-color: lightgrey;
}
.formButton {
margin: 20px;
background-color:#F15A29;
display:inline-block;
color:white;
font-size:28px;
font-weight: 100px;
padding:6px 40px;
text-decoration:none;
border-radius: 5px;
}
.formButton:hover {
background-color: white;
color:white;
}
#bottom {
  color: white;
  text-align: center;
  image: center;
  background-color: rgb(241, 90, 41);
}
