
#logo {
  background-image: url("../images/landing.jpg");
  color: white;
  text-align: center;
  image: center;
  padding-bottom: 70px;
}
#breakfast {
  background-image: url("../images/breakfast.jpg");
  padding: 70px;
  color: white;
}
#lunch {
  background-image: url("../images/lunch.jpg");
  padding: 70px;
  color: white;
}
#dinner {
background-image: url("../images/dinner.jpg");
padding: 70px;
padding-right: 0px;
color: white;
}
#foods {
  background-image: url("../images/foods.Bg.png")
}
#customers, #menu {
  color: rgb(241, 90, 41);
}
.left {
  text-align: left
}
.right {
  text-align: right;
}
.card {
  text-align: center;
  image: center;
}
.subscribe {
  text-align: center;
  background-image: ("../images/subscribe.jpg")
}
#bottom {
  text-align: center;
  image: center;
  background-color: rgb(241, 90, 41);
}
